* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /*:root*/
  --primaryColor: #3a3845;
  --primaryFont: Inter;
  --spacer: 4px;
}
a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: var(--primaryColor);
}

.header {
  /* gap: 232.5px;*/
  padding: 21.84px 0;
  /*margin: 0 165px;*/
}
.container {
  margin: 0 auto;
  width: calc(100% - 330px);
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.menu-logo {
  display: none;
}
.menu ul {
  display: flex;
  gap: 60px;
  list-style-type: none;
}
.header-icons ul {
  display: flex;
  gap: 24px; /*calc(var(--spacer) * 6 )*/
  list-style-type: none;
}
.cart-logo {
  display: none;
}

.hero {
  background-image: url(../image/slider.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 642px;
  gap: 42px;
}
.hero-text {
  text-align: center;
}
.hero-text h4 {
  margin-bottom: 20px;
}

.collection-section {
  gap: 30px;
  padding: 40px 0;
  /*margin: 0 165px;*/
}
.collection {
  width: calc((100% - 90px) / 4);
  text-align: center;
}
.collection h2 {
  color: var(--primaryColor);
  font-size: 18px;
  font-family: var(--primaryFont), sans-serif;
  font-weight: 600;
}
.collection img {
  margin-bottom: 23px;
  width: 100%;
}

@media screen and (min-width: 0) and (max-width: 700px) {
  .header .row {
    flex-wrap: nowrap;
  }
  .container {
    width: calc(100% - 10%);
  }
  .menu {
    display: none;
  }
  .header-icons {
    display: none;
  }
  .menu-logo {
    display: flex;
    width: 30px;
    height: 30px;
  }
  .cart-logo {
    display: flex;
  }
  .collection-section .row {
    flex-direction: column;
    gap: 30px;
  }
  .collection {
    width: calc((100% - 100px));
  }
  .collection h2 {
    font-size: 14px;
  }
}
@media screen and (min-width: 701px) and (max-width: 968px) {
  .header .row {
    flex-wrap: nowrap;
  }
  .container {
    width: calc(100% - 10%);
  }
  
  .collection {
    width: calc((100% - 30px) / 2);
    text-align: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 969px) and (max-width: 1300px) {
  .header .row {
    flex-wrap: nowrap;
  }
  .container {
    width: calc(100% - 10%);
  }

  .collection {
    width: calc((100% - 60px) / 3);
    text-align: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1301px) and (max-width: 1872px) {
  .header .row {
    flex-wrap: nowrap;
  }

  .collection {
    width: calc((100% - 90px) / 4);
    text-align: center;
    margin-bottom: 20px;
  }
}
