* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  gap: 232.5px;
}

.menu ul {
  display: flex;
  gap: 60px;
  list-style-type: none;
}

.header-icons ul {
  display: flex;
  gap: 24px;
  list-style-type: none;
}
