* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /*:root*/
  --primaryColor: #3a3845;
  --primaryFont: Inter;
  --spacer: 4px;
}
a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: var(--primaryColor);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond", serif;
}
.body {
  font-family: var(--primaryFont), sans-serif;
}
.header {
  /* gap: 232.5px;*/
  padding: 21.84px 0;
  /*margin: 0 165px;*/
}
.container {
  margin: 0 auto;
  width: calc(100% - 330px);
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.menu-logo {
  display: none;
}
.menu ul {
  display: flex;
  gap: 60px;
  list-style-type: none;
}
.header-icons ul {
  display: flex;
  gap: 24px; /*calc(var(--spacer) * 6 )*/
  list-style-type: none;
}
.cart-logo {
  display: none;
}

.hero {
  background-image: url(../image/slider.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 642px;
  gap: 42px;
}
.hero-text {
  text-align: center;
}
.hero-text h4 {
  margin-bottom: 20px;
}

.collection-section {
  gap: 30px;
  padding: 40px 0;
  /*margin: 0 165px;*/
}
.collection {
  width: calc((100% - 90px) / 4);
  text-align: center;
}
.collection h2 {
  color: var(--primaryColor);
  font-size: 18px;
  font-family: var(--primaryFont), sans-serif;
  font-weight: 600;
}
.collection img {
  margin-bottom: 23px;
  width: 100%;
}
/*---------------------------- best seller ------------------------------*/

.best-seller {
  text-align: center;
  padding: 80px 0;
}
.best-seller .row {
  gap: 30px;
}
.best-seller .item {
  text-align: left;
  width: calc((100% - 90px) / 4);
}
.best-seller .item-img img {
  width: 100%;
}
.best-seller .item-content {
  margin-top: 24px;
}
.best-seller h2 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 48px;
}
.best-seller h3 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: var(--primaryFont), sans-serif;
  margin-bottom: 12px;
}
.best-seller span {
  font-size: 14px;
  font-weight: 500;
}
.best-seller .description {
  color: #807f86;
  font-size: 14px;
  font-weight: 400;
  width: 80%;
  line-height: 22px;
  margin-top: 24px;
}
.best-seller .add-to-cart {
  padding: 15px 81px;
  background-color: #fff;
  border: 1px solid #000;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 14px;
  font-family: var(--primaryFont), sans-serif;
  margin-top: 38px;
  width: 100%;
}
@media screen and (min-width: 0) and (max-width: 700px) {
  .header .row {
    flex-wrap: nowrap;
  }
  .container {
    width: calc(100% - 10%);
  }
  .menu {
    display: none;
  }
  .header-icons {
    display: none;
  }
  .menu-logo {
    display: flex;
    width: 30px;
    height: 30px;
  }
  .cart-logo {
    display: flex;
  }
  .collection-section .row {
    flex-direction: column;
    gap: 30px;
  }
  .collection {
    width: 100%;
  }
  .collection h2 {
    font-size: 14px;
  }
  /*--------best seller-----*/
  .best-seller .item {
    width: 100%;
  }
  .best-seller .add-to-cart{
    padding: 15px 40px;
  }
  
}
@media screen and (min-width: 701px) and (max-width: 968px) {
  .header .row {
    flex-wrap: nowrap;
  }
  .container {
    width: calc(100% - 10%);
  }

  .collection {
    width: calc((100% - 30px) / 2);
    text-align: center;
    margin-bottom: 20px;
  }
  /*--------best seller-----*/
  .best-seller .item {
    width: calc((100% - 30px) / 2);
  }
  
}
@media screen and (min-width: 969px) and (max-width: 1300px) {
  .header .row {
    flex-wrap: nowrap;
  }
  .container {
    width: calc(100% - 10%);
  }

  .collection {
    width: calc((100% - 60px) / 3);
    text-align: center;
    margin-bottom: 20px;
  }
  /*--------best seller-----*/
  .best-seller .item {
    width: calc((100% - 60px) / 3);
  }
   .best-seller .add-to-cart{
    padding: 15px 10px;
  }
}
@media screen and (min-width: 1301px) and (max-width: 1872px) {
  .header .row {
    flex-wrap: nowrap;
  }

  .collection {
    width: calc((100% - 90px) / 4);
    text-align: center;
    margin-bottom: 20px;
  }
    /*--------best seller-----*/
  .best-seller .item {
    width: calc((100% - 90px) / 4);
  }
   .best-seller .add-to-cart{
    padding: 15px 10px;
  }
  
}
